{% extends 'base.html' %}

{% load static %}
{% block title %}Akad{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              <h2 class=""><i class="fa-regular fa-clipboard"></i> Informasi Data Pernikahan</h2>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
              <div class="d-flex align-content-end justify-content-end">

                <a href="{% url 'daftar_akad' %}"><button class="align-self-end btn btn-success mb-3"><i class="fa-solid fa-plus"></i> Data Pernikahan Baru</button></a>
              </div>
            <small class="text-muted">*Data wali dengan text berwarna merah menandakan data orang yang telah meninggal dunia</small>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Calon Suami</th>
                  <th>Nama Calon Istri</th>
                  <th>Wali</th>
                  <th>Penghulu</th>
                  <th>Tanggal Akad</th>
                  <th>Mahar</th>
                  <th>Tempat Akad</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                    {% for akad in akadList %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{akad.suami}}</td>
                        <td>{{akad.istri}}</td>
                        <td>
                            {% for wali in akad.wali_set.all %}
                            {% if wali.meninggal %}
                                <span class="text-danger">{{wali.nama}}</span>
                            {% else %}
                                {{wali.nama}}
                            {% endif %}
                            <br>
                            {% endfor %}
                        </td>
                        <td>{{akad.penghulu}}</td>
                        <td>{{akad.waktuAkad}}</td>
                        <td>{{akad.mahar}}</td>
                        <td>{{akad.lokasi}}</td>
                        <td nowrap>
                            {% if akad.diperiksa %}
                            <b class="p-1 bg-success rounded">Sudah Diperiksa</b>
                            {% else %}
                            <b class="p-1 bg-warning rounded">Belum Diperiksa</b>

                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                {% if akad.diperiksa == False%}
                                <a href="{% url 'detail_akad' akad.id %}"><button class="btn btn-primary "><i class="fa-solid fa-pen-to-square"></i></button></a>
                                <a href="{% url 'hapus_akad' akad.id %}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a>
                                {% else %}
                                -
                                {% endif %}
                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
              
                </tbody>
                <tfoot>
                <tr>
                    <th>No</th>
                    <th>Nama Calon Suami</th>
                    <th>Nama Calon Istri</th>
                    <th>Wali</th>
                    <th>Penghulu</th>
                    <th>Tanggal Akad</th>
                    <th>Mahar</th>
                    <th>Tempat Akad</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
    <!-- /.col-md-6 -->
  </div>
  
{% endblock content %}
{% block script %}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock script %}


