{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Pernikahan Kantor Urusan Agama</title>
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <style>
     
    </style>
</head>
<body class="text-center print-ready p-5">
    <h2 class="text-center text-bold">Sistem Informasi Pernikahan Kantor Urusan Agama Suliki</h2>
    <h2 class="text-center text-bold">Kabupaten Lima Puluh Kota, Sumatra Barat</h2>
    <hr>
    {% if pageName == 'all' %}
        <h2 class="text-center">Data Seluruh Pernikahan</h2>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th >Nama Calon Suami</th>
                <th >Nama Calon Istri</th>
                <th >Wali</th>
                <th>Penghulu</th>
                <th >Tanggal Akad</th>
                <th >Waktu Akad</th>
                <th >Mahar</th>
                <th >Tempat Akad</th>
                <th >Status</th>
            </tr>
        </thead>
        <tbody>
            {% for akad in akad %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td nowrap>{{akad.suami}}</td>
                <td nowrap>{{akad.istri}}</td>
                <td>
                    {% for wali in akad.wali_set.all %}
                    {% if wali.meninggal %}
                        <span class="text-danger">{{wali.nama}}</span>
                    {% else %}
                        {{wali.nama}}
                    {% endif %}
                    <br>
                    {% endfor %}
                </td>
                <td nowrap>{{akad.penghulu}}</td>
                <td >{{akad.waktuAkad}}</td>
                <td >{{akad.jamAkad|time:"H:i" }}</td>
                <td >{{akad.mahar}}</td>
                <td >{{akad.lokasi}}</td>
                <td >
                    {% if akad.diperiksa %}
                    <b>Sudah Diperiksa</b>
                    {% else %}
                    <b>Belum Diperiksa</b>

                    {% endif %}
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr >
                <td colspan="10" class="text-right">
                    {{dateMsg}}
                    <br>
                    <br>
       
                    <br>
                    <u>As'at, SH.I</u>
                    <br>
                    NIP 198010032009011007
                </td>
                
            </tr>
        </tfoot>
        </table>
    {% else %}
    <h2 class="text-center">Data Pernikahan {{akad}}</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Nama Calon Suami</td>
                    <td>{{akad.suami}}</td>
                <tr>
                <tr>
                    <td>Nama Calon Istri</td>
                    <td>{{akad.istri}}</td>
                </tr>
                <tr>
                    <td>Wali Nikah</td>
                    <td>
                        {% for wali in akad.wali_set.all %}
                        {% if wali.meninggal %}
                            <span class="text-danger">{{wali.nama}}</span>
                        {% else %}
                            {{wali.nama}}
                        {% endif %}
                        ,
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Penghulu</td>
                    <td>{{akad.penghulu}}</td>
                </tr>
                <tr>
                    <td>Tanggal Akad Nikah</td>
                    <td>{{akad.waktuAkad}}</td>
                </tr>
                <tr>
                    <td>Jam Akad Nikah</td>
                    <td>{{akad.jamAkad|time:"H:i"}}</td>
                </tr>
                <tr>
                    <td>Mahar Pernikahan</td>
                    <td>{{akad.mahar}}</td>
                </tr>
                <tr>
                    <td>Lokasi Pernikahan</td>
                    <td>{{akad.lokasi}}</td>
                </tr>
            <tbody>
                <tfoot>
                    <tr >
                        <td colspan="10" class="text-right">
                            {{dateMsg}}
                            <br>
                            <br>
               
                            <br>
                            <u>As'at, SH.I</u>
                             <br>
                                NIP 198010032009011007
                        </td>
                        
                    </tr>
                </tfoot>
        </table>
    {% endif %}

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $( document ).ready(function() {
            window.print()
        });
    </script>
</body>
</html>

