{% extends 'base.html' %}
{% block title %}
Syarat Akad
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-gray mx-5">
            <div class="card-header">
                <h2>Syarat Akad</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title text-bold">Persyaratan Calon Suami Yang Harus Diantar ke KUA :</h5><br>
                <ol>
                    <li>N1 (Surat Keterangan Untuk Nikah)</li>
                    <li>N2 (Surat Keterangan Asal Usul)</li>
                    <li>N3 (Surat Keterangan Tentang Orang Tua)</li>
                    <li>N4 (Surat Persetujuan Mempelai)</li>
                    <li>Fotocopy KTP</li>
                    <li>Fotocopy KK</li>
                    <li>Fotocopy Akte Kelahiran</li>
                    <li>Pas Photo 2x3 6 Lembar</li>
                    <li class="text-danger">Surat Pengantar Dari Pengadilan (Karena dibawah 19 Tahun)</li>
                </ol>
                <br>
                <h5 class="card-title text-bold">Persyaratan Calon Suami Yang Harus Diantar ke KUA :</h5><br>
                <ol>
                    <li>N1 (Surat Keterangan Untuk Nikah)</li>
                    <li>N2 (Surat Keterangan Asal Usul)</li>
                    <li>N3 (Surat Keterangan Tentang Orang Tua)</li>
                    <li>N4 (Surat Persetujuan Mempelai)</li>
                    <li>Fotocopy KTP</li>
                    <li>Fotocopy KK</li>
                    <li>Fotocopy Akte Kelahiran</li>
                    <li>Pas Photo 2x3 6 Lembar</li>
                    <li class="text-danger">Surat Pengantar Dari Pengadilan (Karena dibawah 16 Tahun)</li>
                </ol>
                <br>
                <p>Jika bertempat tinggal di luar daerah Kabupaten Lima Puluh Kota, harus melampirkan Berkas Rekomendasi dari Desa/Lurah setempat.</p>
                <br>
                <p>Berkas asli dari persyaratan diatas Harus di Antar dalam jangka waktu paling lambat 10 hari terhitung mulai tanggal mendaftar di Kantor Urusan Agama Suliki, Kab.Lima Puluh Kota</p>
            
            </div>
        </div>

    </div>
</div>

{% endblock content %}
